<!doctype html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <title>hello books</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/index.js"></script>
</head>
<body id="background-image">
    <!-- Header -->
<div class="container-fluid">
    <div id="header">
        <h1 style="font-family: Comic Sans MS, cursive, sans-serif;">BOOKSVILLE</h1>
		<div id="top">
			<div id="top-navigation">
				Welcome<strong> Administrator</strong>
				<span>|</span>
				<a href="#">Help</a>
				<span>|</span>
				<a href="#">Profile Settings</a>
				<span>|</span>
				<a href="#">Log out</a>
			</div>
		</div>
		<div class="tab3">
			<button class="tablinks" onclick="openTab(event, 'addBook')">Add book</button>
            <button class="tablinks" onclick="openTab(event, 'modifyBooks')">Modify books</button>
            <button class="tablinks" onclick="openTab(event, 'notifications')">Notifications</button>
		</div>
	</div>
</div>
<div id="container">
	<div class="shell" >
		<div id="dashboard" class="tabcontent">
			<a href="#">Dashboard</a>
		</div>
		<!-- End Small Nav -->
		
		<div class="tabcontent" id="addBook">
		    <div class="msg msg-ok">
			    <p><strong>Your file was uploaded succesifully!</strong></p>
			    <a href="#" class="close">close</a>
		    </div>
		    <div style="color: #8b008b" >
				<div class="box-head">
				    <h2  align ="center">NEW BOOK</h2>
				</div>
				<div class="bookform">
				  <form action="" method="post" align= "center" ">
			        <input type="text" placeholder="Enter book title" class="field small-field" />
					<br>
					<input type="text" placeholder="Enter book category" class="field small-field" />
					<br>
					<input type="text" placeholder="Enter book description" class="field small-field" />	
					<br>
					<input type="text" placeholder="Enter book quantity" class="field small-field" />	
					<br>
					<input type="text" placeholder="Upload book file"class="field small-field"  style="margin-left: 80px;" />
					<input type="submit" class="btn" value="Upload" />
					<br>
					<input type="submit" class="btn" value="Add Book" />
				  </form>
				</div>
			</div>
			<br />
		</div>

		<div class="tabcontent" id="modifyBooks">
	    	<div id="content">
				<div class="box">
					<div class="table">
						<table border="0" cellspacing="0" cellpadding="0" >
							<tr>
								<th width="13"><input type="checkbox" class="checkbox" /></th>
								<th>Title</th>
								<th>Category</th>
								<th>In stock</th>
								<th width="110" class="ac">manage book</th>
							</tr>
							<tr>
								<td><input type="checkbox" class="checkbox" /></td>
								<td><h3><a href="#">Lord of the rings</a></h3></td>
								<td>thriller</td>
								<td><a href="#">3</a></td>
								<td><a href="#">Delete</a><span>  </span><a href="#">Edit</a></td>
							</tr>
							<tr class="odd">
								<td><input type="checkbox" class="checkbox" /></td>
								<td><h3><a href="#">Lord of the rings.</a></h3></td>
								<td>comedy</td>
								<td><a href="#">1</a></td>
								<td><a href="#" >Delete</a><span>  </span><a href="#" >Edit</a></td>
							</tr>
							<tr>
								<td><input type="checkbox" class="checkbox" /></td>
								<td><h3><a href="#">Lord of the rings.</a></h3></td>
								<td>romance</td>
								<td><a href="#">1/a></td>
								<td><a href="#">Delete</a><span>  </span><a href="#">Edit</a></td>
							</tr>
							<tr class="odd">
								<td><input type="checkbox" class="checkbox" /></td>
								<td><h3><a href="#">Living in bondage.</a></h3></td>
								<td>thriller</td>
								<td><a href="#">14</a></td>
								<td><a href="#">Delete</a><span>  </span><a href="#">Edit</a></td>
							</tr>
							<tr>
								<td><input type="checkbox" class="checkbox" /></td>
								<td><h3><a href="#">why waitr</a></h3></td>
								<td>thriller</td>
								<td><a href="#">2</a></td>
								<td><a href="#">Delete</a><span>  </span><a href="#">Edit</a></td>
							</tr>
							<tr class="odd">
								<td><input type="checkbox" class="checkbox" /></td>
								<td><h3><a href="#">game of thrones</a></h3></td>
								<td>thriller</td>
								<td><a href="#">6r</a></td>
								<td><a href="#">Delete</a><span>  </span><a href="#">Edit</a></td>
							</tr>
							<tr>
								<td><input type="checkbox" class="checkbox" /></td>
								<td><h3><a href="#">lord of the rings</a></h3></td>
								<td>thriller</td>
								<td><a href="#">3</a></td>
								<td><a href="#" >Delete</a><span>  </span><a href="#" Edit</a></td>
							</tr>
							<tr class="odd">
								<td><input type="checkbox" class="checkbox" /></td>
								<td><h3><a href="#">Lord of the rings</a></h3></td>
								<td>thriller</td>
								<td><a href="#">12</a></td>
								<td><a href="#">Delete</a><span>  </span><a href="#" >Edit</a></td>
							</tr>
						</table>
						
					    <div class="pagination" align="center">
                             <a href="#">&laquo;</a>
                            <a href="#">1</a>
                            <a href="#" class="active">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#">6</a>
                            <a href="#">&raquo;</a>
                        </div>
					</div>
				</div>
			</div>
		</div>

		<div class="tabcontent" id="notifications">
		    <div class="table">
				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<th width="13"><input type="checkbox" class="checkbox" /></th>
						<th>User</th>
						<th>Book</th>
						<th>Action</th>
						<th>Date</th>
						<th width="110" class="ac">manage book</th>
					</tr>
					<tr>
						<td><input type="checkbox" class="checkbox" /></td>
						<td>jane joe</td>
						<td><h3><a href="#">Lord of the rings</a></h3></td>
						<td>returned</td>
						<td><a href="#">03/07/2017</a></td>
						<td><a href="#">read</a></td>
					</tr>
                    <tr>
						<td><input type="checkbox" class="checkbox" /></td>
						<td>jane joe</td>
						<td><h3><a href="#">Lord of the rings.</a></h3></td>
						<td>borrowed</td>
						<td><a href="#">03/07/2017</a></td>
						<td><a href="#" >read</a></td>
					</tr>
					<tr>
						<td><input type="checkbox" class="checkbox" /></td>
						<td>jane joe</td>
						<td><h3><a href="#">Lord of the rings</a></h3></td>
						<td>returned</td>
						<td><a href="#">03/07/2017</a></td>
						<td><a href="#" >read</a></td>
					</tr>
					<tr>
						<td><input type="checkbox" class="checkbox" /></td>
						<td>jane joe</td>
						<td><h3><a href="#">Lord of the rings</a></h3></td>
						<td>returned</td>
						<td><a href="#">03/07/2017</a></td>
						<td><a href="#" >read</a></td>
					</tr>
					<tr>
						<td><input type="checkbox" class="checkbox" /></td>
						<td>jane joe</td>
						<td><h3><a href="#">Lord of the rings</a></h3></td>
						<td>returned</td>
						<td><a href="#">03/07/2017</a></td>
						<td><a href="#">read</a></td>
					</tr>
                </table>
			</div>
		</div>
</div>

	

</body>
<script src="index.js"></script>