<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">

    <title>hello books</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/index.js"></script>
    
      
</head>
<body id="background-image">
  <div class="container-fluid">
    <div id="header">
        <h1 style="font-family: Comic Sans MS, cursive, sans-serif;" style="color: white" class="container" >WELCOME TO BOOKSVILLE</h1>
        <div id="top-navigation" style="color: #8B008B;">
				<a href="adminpage.html">Admin</a>
				<span>|</span>
				<a href="#">Help</a>
				<span>|</span>
				<a href="#">About us</a>
		</div>
    </div>

    <div class="shell" >
      <div class="tab" align="center" style="margin:40px auto;">
        <button class="tablinks" onclick="openTab(event, 'register')" style="color: white;">REGISTER</button>
        <button class="tablinks" onclick="openTab(event, 'login')" style="color: white;">LOGIN</button>
      </div>
    
      <div id="register" class="tabcontent" align="center">
      <div id="form-wrapper" style="max-width:1000px; ">
        <form action="/" method="post">
            <input type="text" placeholder="Enter First name" name="firstname" required>
              <br>
            <input type="text" placeholder="Enter Last name" name="lastname" required>
              <br>
            <input type="text" placeholder="Enter Email" name="email" required>
              <br>
            <input type="password" placeholder="Enter Password" name="password" required>
              <br>
              <label style="color: white;"><b>Membership Level</b></label>
              <select name="cars">
                <option value="rookie">Rookie</option>
                <option value="bookworm">Bookworm N2000/month</option>
                <option value="voracious">Voracious N5000/month</option>
                <option value="admin">Admin</option>
              </select>
              <br>
              <p style="color: white;">By creating an account you agree to our Terms & Conditions</a></p>

              <div class="clearfix" align="center">
                <button type="submit" class="btn">Sign Up</button>
              </div>
        </form>
          <div class="social-login">
            <p class="google">Or signup with:</p>
                <div class="social-login-buttons">
                  <a class="btn-link-1" href="#"><i class="fa fa-google-plus"></i></a>
                </div>
          </div>
      </div>
      </div>
      
   
    
    <div id="login" class="tabcontent" align="center">
        <div id="form-wrapper" style="max-width:1000px; ">
            <form action = "userPage.html" method = "post">
                <input id="email" type="text" placeholder="Enter email" name="email" required>
                <br>
                <input id = "psw" type="password" placeholder="Enter Password" name="psw" required>
                <br>
                <button id = "loginid" type="submit" class="btn" style="font-size: 14px">Login</button>
                <br>
            </form>
            <div class="social-login">
                <p class="google">Or login with:</p>
                    <div class="social-login-buttons">
                      <a class="btn-link-1" href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
            </div>
        </div>
    </div>    
  
  </div><!-- tab-content -->
  </div>
</div>

</body>
