body {
    font-family: 'Titillium Web', sans-serif;
}

#back{
  background-image: url("books.jpg"); 
  background-size: cover;
  opacity:0.6;
}
#first {
            margin: 2em auto;
            padding: 5px;
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-align: center;
            text-shadow: 2px 2px white;
            
        }

.pagination {
    display: inline-block;
}

.pagination a {
    color: #8B008B;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #8B008B;
    color: white;
    border: 1px solid #8B008B;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #8B008B;
    padding: 40px;
  max-width:600px;
  margin:40px auto;
  color: white;
}

div.tab2 {
    float: left;
    border: 1px solid #ccc;
    background-color: #8B008B;
    width: 10%;
    height: 300px;
    color: white;
}

/* Style the buttons inside the tab */
div.tab button, div.tab2 button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    text-align: left;
}



/* Change background color of buttons on hover */
div.tab button:hover, div.tab2 button:hover {
    background-color: #ddd;
    color: #8B008B;
}

/* Create an active/current tablink class */
div.tab button.active, div.tab2 button.active {
    background-color: #ccc;
    color: #8B008B;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

input[type=text], input[type=password] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block
    border: 1px solid #ccc;
    box-sizing: border-box;
    align-items: center;
    font-size: 14px;
}

.btn{
  background-color: #8B008B;
  color: white;
}

.btn:hover{
  background-color: #9932CC;
  color: white;
}

.btn:active{
  background-color: #8B008B;
  color: white;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 50%;
    border: 1px solid #ddd;
}

th, td {
    border: none;
    text-align: left;
    padding: 8px;
}

th{
  background-color: #8B008B;
  color: white;
}

.profile-card {
    margin: 50px;
    width: 500px;
    height: 400px;
    font: 12px "Myriad Pro";
}

.avatar{
    border-radius: 100px;
    border: 5px solid #8B008B;
}

.avatar:hover {
    margin-top: 23px;
}
.btns-container {
    position: relative;
    }
a.zoom:hover, a.edit:hover {
    background-color: #8B008B ;
    margin-top: 30px;
}

.profile-details {
    color: #8B008B;
    float: center;
    text-align: center;
    font-weight: bold;
}
.profile-content {
    float: center;
    margin-left: 600px;
    margin-right: 460px;
    }
ul{
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8B008B;
    color: white;
    border-radius: 10px;
    float: center;
    height: 25px
    width:20%;

}
li {
    display: inline-block;
    padding: 16px;
    text-align: center;

}
.digits {
    font-weight: bold;
    font-size: 16px;
    color: white;
}




