<!doctype html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <title>hello books</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/index.js"></script>
</head>


<!--head of the page-->
<body id="background-image">
    <div class="container-fluid">
      <div id="header">
        <h1 style="font-family: Comic Sans MS, cursive, sans-serif;" style="color: white">WELCOME BACK!</h1>
        <div id="top-navigation" style="color: #8B008B;">
				<a href="#">Help</a>
				<span>|</span>
				<a href="#">Profile Settings</a>
				<span>|</span>
				<a href="#">Log out</a>
	    </div>
	  </div>
    <!--side tab for navigation-->
    <div class="tab2" >
          <button style="color: white;" class="tablinks" onclick="openTab(event, 'library')">LIBRARY</button>
          <button style="color: white;" class="tablinks" onclick="openTab(event, 'profile')">PROFILE</button>
          <button style="color: white;" class="tablinks" onclick="openTab(event, 'unreturned')">NOT YET RETURNED</button>
          <button style="color: white;" class="tablinks" onclick="openTab(event, 'history')">HISTORY</button>
    </div>
    <!--displays when library button is clicked-->
    <div id="library" class="tabcontent">
        <form class="form-search" align="center">
        <input type="text" class="input-medium search-query">
        <button type="submit" class="btn">Search</button>
        </form>
        <div class="pagination">
          <a href="#">&laquo;</a>
          <a href="#" class="active">1</a>
          <a href="#" >2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">6</a>
          <a href="#">&raquo;</a>
        </div>
        <div class="gallery">
          <a target="_blank">
          <img src="images/magicobt.jpg" alt="The magic of big thinking" width="300" height="200">
          </a>
          <div class="desc">The Magic of Thinking Big</div>
          <div class="desc">by David J. Schwartz.</br>This book gives you useful methods for getting  the most out of your job, your marriage and family life</div>
          <div class="desc">3 copies available</div>
          <button type="submit" class="btn">Borrow</button>
        </div>
        <div class="gallery">
          <a target="_blank">
          <img src="images/dolphin.jpg" alt="little dolphin" width="300" height="200">
          </a>
          <div class="desc">Little Dolphin</div>
          <div class="desc">By John Smith</br>A beautiful story of a true dolphin love. over many seas and oceans</div>
          <div class="desc">2 copies available</div>
          <button type="submit" class="btn">Borrow</button>
        </div>
        <div class="gallery">
          <a target="_blank">
          <img src="images/fiftysf.png" alt="Fifty Shades Freed" width="300" height="200">
          </a>
          <div class="desc">Fifty Shades Freed</div>
          <div class="desc">By E.L.James</br>the third and final installment of the erotic romance Fifty Shades Trilogy </div>
          <div class="desc">5 copies available</div>
          <button type="submit" class="btn">Borrow</button>
        </div>
        <div class="gallery">
          <a target="_blank">
          <img src="images/davinci.jpg" alt="The Davinci Code" width="300" height="200">
          </a>
          <div class="desc">The Davinci Code</div>
          <div class="desc">By Dan Brown</br> It follows symbologist Robert Langdon and cryptologist Sophie Neveu after a murder in the Louvre Museum in Paris</div>
          <div class="desc">3 copies available</div>
          <button type="submit" class="btn">Borrow</button>
        </div>
        <div class="gallery">
          <a target="_blank">
          <img src="images/whistler.png" alt="Fjords" width="300" height="200">
          </a>
          <div class="desc">The Whistler</div>
          <div class="desc">By John Grisham</br> It is a legal thriller about Florida Board on Judicial Conduct investigator Lacy Stoltz.</div>
          <div class="desc">3 copies available</div>
          <button type="submit" class="btn">Borrow</button>
        </div>
        <div class="gallery">
          <a target="_blank">
          <img src="images/PurpleHibiscus.jpg" alt="Purple Hibiscus" width="300" height="200">
          </a>
          <div class="desc">Purple Hibiscus</div>
          <div class="desc">By Chimamanda Ngozi Adichie</br>Purple Hibiscus is set in postcolonial Nigeria, a country beset by political instability and economic difficulties</div>
          <div class="desc">12 copies available</div>
          <button type="submit" class="btn">Borrow</button>
        </div>
        <br>
        
    </div>
   <!-- displays user profile-->
      <div id="profile" class="tabcontent" class="profile-card" align="center">
        <div class="profile-avatar">
          <a href="#"><img src="images/profilephoto.jpg" class="avatar" /></a>
          <div class="btns-container">
            <div class="profile-links">
                <a class="zoom" href="#"><img src="images/zoomicon.png"></a>
                <a class="edit" href="#"><img src="images/editicon.png"></a>
            </div>
          </div>
        </div>
        <div class="profile-details">
                <h1>Grace Joel</h1>
                <h3>Rookie</h3>
        </div>
        <div class="profile-content">
            <ul>
                <li>
                    <div class="digits">11</div>
                    Books read
                </li>
                <li>
                    <div class="digits">9</div>
                    Books returned
                </li>
            </ul>
            <div class="clear"></div>
        </div>
      </div>
      <!-- displays tab for unreturned books-->
      <div id="unreturned" class="tabcontent" align="center" style="color: #800080;
    background-color: white;">
        <table cellspacing="0">
            <tr>
                <th>Title</th>
                <th>Date Borrowed</th>
                <th></th>
            </tr>
            <tr>
                <td id="title">The beautiful ones are not yet born</td>
                <td id="dateB">12/01/2017</td>
                <td id="return"><a>RETURN</a></td>
            </tr>
            <tr>
                <td id="title">There was a country</td>
                <td id="dateB">16/04/2017</td>
                <td id="return"><a>RETURN</a></td>
            </tr>
            <tr>
                <td id="title">The beautiful ones are not yet born</td>
                <td id="dateB">12/01/2017</td>
                <td id="return"><a>RETURN</a></td>
            </tr>
        </table>
      </div>
      <!-- displays users' history-->
      <div id="history" class="tabcontent" align="center" style="color: #800080;
    background-color: white;">
          <table cellspacing="0">
            <tr>
                <th>Title</th>
                <th>Date Borrowed</th>
                <th>Date Returned</th>
            </tr>
            <tr>
                <td id="title">The beautiful ones are not yet born</td>
                <td id="dateB">12/01/2017</td>
                <td id="dateR">16/01/2017</td>
            </tr>
            <tr>
                <td id="title">The beautiful ones are not yet born</td>
                <td id="dateB">12/01/2017</td>
                <td id="dateR">16/01/2017</td>
            </tr>
            <tr>
                <td id="title">The beautiful ones are not yet born</td>
                <td id="dateB">12/01/2017</td>
                <td id="dateR">16/01/2017</td>
            </tr>
            <tr>
                <td id="title">The beautiful ones are not yet born</td>
                <td id="dateB">12/01/2017</td>
                <td id="dateR">16/01/2017</td>
            </tr>
            <tr>
                <td id="title">The beautiful ones are not yet born</td>
                <td id="dateB">12/01/2017</td>
                <td id="dateR">16/01/2017</td>
            </tr>
            <tr>
                <td id="title">The beautiful ones are not yet born</td>
                <td id="dateB">12/01/2017</td>
                <td id="dateR">16/01/2017</td>
            </tr>
            <tr>
                <td id="title">The beautiful ones are not yet born</td>
                <td id="dateB">12/01/2017</td>
                <td id="dateR">16/01/2017</td>
            </tr>
          </table>
      </div>
    </div>
  </div>
</body>
